<h1>Probes</h1>

<div>
  <% if @probes.empty? %>
    <div>
      <p>No probe launched yet...</p>
    </div>
  <% else %>
    <% @probes.each do |probe| %>
      <div>
        <h3>Name: <%= probe.name %></h3>

        <%= link_to('View GPS details', dashboards_path(id: probe.id)) %>
      </div>

      <hr>
    <% end %>
  <% end %>
</div>
