<%= link_to('See all probes', root_path) %>

<center>
  <table id="table">
    <tr>
      <td id="5_1"></td>
      <td id="5_2"></td>
      <td id="5_3"></td>
      <td id="5_4"></td>
      <td id="5_5"></td>
    </tr>
    <tr>
      <td id="4_1"></td>
      <td id="4_2"></td>
      <td id="4_3"></td>
      <td id="4_4"></td>
      <td id="4_5"></td>
    </tr>
    <tr>
      <td id="3_1"></td>
      <td id="3_2"></td>
      <td id="3_3"></td>
      <td id="3_4"></td>
      <td id="3_5"></td>
    </tr>
    <tr>
      <td id="2_1"></td>
      <td id="2_2"></td>
      <td id="2_3"></td>
      <td id="2_4"></td>
      <td id="2_5"></td>
    </tr>
    <tr>
      <td id="1_1"></td>
      <td id="1_2"></td>
      <td id="1_3"></td>
      <td id="1_4"></td>
      <td id="1_5"></td>
    </tr>
  </table>
  <span id="position" data-position=<%= "#{@probe.x + 1}_#{@probe.y + 1}" %>></span>
  <span id="face" data-face=<%= "#{@probe.face}" %>></span>
</center>

<script>
  var table = document.getElementById("table"),
      cells = table.getElementsByTagName("td");

  for (let i = 0; i < cells.length; i++) {
    cells[i].innerHTML = "";
  }

  var coordinates = document.getElementById('position').getAttribute('data-position');
  var currentCell = document.getElementById(coordinates);

  var face = document.getElementById('face').getAttribute('data-face');
  currentCell.innerHTML = face;
</script>
